@import url(//fonts.googleapis.com/css?family=Courgette);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

body {
	background: url('/img/black-linen.png');
	background-attachment: fixed;
}

.clear {
	clear: both;
}

#controls * {
	z-index: 9001;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#cabinet {
	position: relative;
	margin: 64px auto;
	width: 600px;
	border-radius: 12px;
	background: #444;
	padding: 10px;
	box-shadow: inset -4px -4px 8px #111,
	            inset 4px 4px 8px #333,
	            inset -2px -2px 1px #000,
	            inset 2px 2px 1px #444;
	font-family: 'Roboto Condensed';
}

#cabinet h1 {
	position: absolute;
	bottom: -24px;
	right: 0;
	width: 250px;
	text-align: right;
	color: #ccc;
	font-family: 'Courgette';
	font-size: 24px;
}

#cabinet h2 {
	margin-top: 24px;
	margin-bottom: 4px;
	text-align: left;
	text-transform: uppercase;
	color: #888;
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-size: 16px;
}

#cabinet h2 label {
	float: right;
	font-weight: 400;
}

#controls {
	padding: 24px;
	background: url('/img/carbon_fibre.png');
	box-shadow: inset 0 2px 8px #000;

	color: #ddd;
	text-shadow: 0px 1px 0px #000;

	-webkit-transition: top 1.5s ease-in-out;
}

#knobs, #noises {
	width: 50%;
	height: 200px;
	float: left;
}

#knobs-inner, #noises-inner {
	margin: 16px;
	padding: 16px;
	border: 1px dashed #888;
	border-radius: 8px;
}

#knobs {
	text-align: center;
}

#faders {
	clear: both;
	position: relative;
	height: 275px;
	margin-top: 90px;
}

.fader-container {
	position: relative;
	float: left;
	margin-left: 24px;
	margin-right: 48px;
}

.fader-container label {
	position: absolute;
	top: -24px;
	left: 24px;
	width: 24px;
}

.fader {
	height: 250px;
	width: 1px;
	border: 2px groove #555 !important;
	border-radius: 1px;
	background: #444;
	border: #ccc;
}

.lbl {
	position: absolute;
	bottom: -28px;
	left: -8px;
	text-transform: uppercase;
	font-size: 12px;
}

.fader .ui-slider-handle {
	width: 24px;
	height: 47px;
	left: -13px;
	margin-top: -13px;
	border: 2px outset #666 !important;
	background: #888;
	box-shadow: inset 0px 6px 0px #aaa,
	            inset 0px 7px 0px #999,
	            inset 0px 12px 0px #bbb,
	            inset 0px 13px 0px #aaa,
	            inset 0px 18px 0px #ccc,
	            inset 0px 19px 0px #ddd,
	            inset 0px 23px 0px #fff,

	            inset 0px -6px 0px #aaa,
	            inset 0px -7px 0px #999,
	            inset 0px -12px 0px #bbb,
	            inset 0px -13px 0px #aaa,
	            inset 0px -18px 0px #ccc,
	            inset 0px -19px 0px #bbb,
	            inset 0px -23px 0px #fff;
}

.knob-container {
	display: inline-block;
}

.knob-values {
	margin-bottom: 8px;
	color: #eee;
	font-size: 16px;
}

#knobs span {
	display: inline-block;
	width: 100px;
	margin-top: 10px;

	text-align: center;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
}

[name=noise], .muter {
	display: none;
}

input + label {
	padding: 4px 12px;
	border-radius: 4px;

	background: rgba(0, 0, 0, 0.2);
	color: rgba(255, 255, 255, 0.6);
	border: 2px groove #444;

	font-size: 14px;
	text-transform: uppercase;

	-webkit-transition: all 80ms linear;
}

#master-mute {
	position: absolute;
	width: 86px;
	bottom: 0;
	left: 50%;
	right: 50%;
	margin-left: -43px;
	margin-right: -43px;
	text-align: center;
}

[name=noise] + label {
	display: block;
	margin: 0 60px;
	font-size: 12px;
}

#whitenoise:checked + label {
	background: #eee;
	color: #444;
	text-shadow: 0px 1px 0px #fff;
}

#pinknoise:checked + label {
	background: #f88;
	color: #fff;
}

#brownnoise:checked + label {
	background: #842;
	color: #fff;
}

#violetnoise:checked + label {
	background: #338;
	color: #fff;
}

#greynoise:checked + label {
	background: #666;
	color: #fff;
}

.muter + label {
	background: #521;
	color: #c88;
}

.muter:checked + label {
	background: #c21;
	color: #fff;
}

#key {
	position: absolute;
	right: 12px;
	top: 310px;
	width: 333px;
	color: #aaa;
	font-size: 12px;
	text-align: left;
}