/* globals and resets */

:root {
  /* colors */
  --fg-general: #fff;
  --bg-general: #0c0429;
  --bg-button: #fff2;
  --bg-button-transparent: #fff0;

  --fg-primary: #ff8b56;
  --fg-secondary: #ccc;
  --fg-tertiary: #888;

  /* fonts */
  --serif-font: 'Noticia Text';
  --sans-serif-font: 'Titillium Web';
  --mono-font: 'Fira Code';

  /* animation parameters */
  --mono-character-width: .6em;
  --animation-speed: .8s;
}

html, body {
}

body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  background: var(--bg-general);
  color: var(--fg-general);

  font-family: var(--sans-serif-font);

  hyphens: auto;
}

body > * {
  padding-left: max(min(12rem, 5vw), 1rem);
  padding-right: max(min(12rem, 5vw), 1rem);
}

h1, h2, h3, p, ul {
  box-sizing: border-box;
  max-width: 48rem;
}

p, ul {
  box-sizing: border-box;
  text-align: justify;

  color: var(--fg-secondary);
  font-size: 1.125rem;
}

a {
  color: var(--fg-primary);
}

/* header */

#header {
  padding-top: max(5rem, min(calc(50vh - 12rem), 20vw));
  padding-bottom: 5rem;
  box-sizing: border-box;
  min-height: min(100vh, 100vw);
}

#intro {
  position: relative;
  z-index: 2;
  margin: 0;
  color: var(--fg-primary);
  font-family: var(--serif-font);
  font-size: 1.375rem;
}

#my-name {
  position: sticky;
  top: 0;
  z-index: 1;
  overflow: visible;

  background: var(--bg-general);
}

h1 {
  margin: 0;
  font-family: var(--mono-font);
  font-size: min(7vw, 3.875rem);
}

/* header > name animation */

.name-initial, .name-rest, #unixname {
  display: inline-block;
  position: absolute;
}

.name-initial {
  transition: var(--animation-speed) cubic-bezier(0.215, 0.610, 0.355, 1.000) transform;
}

.name-rest {
  opacity: 1;
  transition: var(--animation-speed) cubic-bezier(0.215, 0.610, 0.355, 1.000) transform, var(--animation-speed) cubic-bezier(0.950, 0.050, 0.795, 0.035) opacity;
}

#name-rest-1 {
  transform: translateX(calc(var(--mono-character-width) * 1));
}

#name-nick-initial {
  transform: translateX(calc(var(--mono-character-width) * 8));
}

#name-rest-2 {
  transform: translateX(calc(var(--mono-character-width) * 9));
}

#name-last-initial {
  transform: translateX(calc(var(--mono-character-width) * 15));
}

#name-rest-3 {
  transform: translateX(calc(var(--mono-character-width) * 16));
}

#unixname {
  transform: translateX(calc(var(--mono-character-width) * 22));
  opacity: 0;
  transition: var(--animation-speed) cubic-bezier(0.215, 0.610, 0.355, 1.000) transform, var(--animation-speed) cubic-bezier(0.215, 0.610, 0.355, 1.000) opacity;
}

#my-name.scrolled .name-initial {
  text-transform: lowercase;
}

#my-name.scrolled .name-rest {
  opacity: 0;
  transition: var(--animation-speed) cubic-bezier(0.215, 0.610, 0.355, 1.000) transform, var(--animation-speed) cubic-bezier(0.190, 1.000, 0.220, 1.000) opacity;
}

#my-name.scrolled #name-nick-initial {
  transform: translateX(calc(var(--mono-character-width) * 1));
}

#my-name.scrolled #name-last-initial {
  transform:  translateX(calc(var(--mono-character-width) * 2));
}

#my-name.scrolled #unixname {
  opacity: 1;
  transform: translateX(calc(var(--mono-character-width) * 3));
  transition: var(--animation-speed) cubic-bezier(0.215, 0.610, 0.355, 1.000) transform, var(--animation-speed) cubic-bezier(0.190, 1.000, 0.220, 1.000) opacity;
}

/* header > name sticky header hacks */

#my-name.fixed {
  position: fixed;
  left: 0;
  right: 0;
  padding-left: max(min(12rem, 5vw), 1rem);
  padding-right: max(min(12rem, 5vw), 1rem);
  max-width: unset;
}

#my-name-spacer {
  display: none;
  user-select: none;
}

#my-name.fixed + #my-name-spacer {
  display: block;
}

/* header > name mask */

#name-animation {
  user-select: none;
}

#fullname-mask, #unixname-mask {
  position: relative;
  color: #fff0;
  display: inline-block;
  z-index: 1;
}

#unixname-mask {
  display: none;
}

#my-name.scrolled #fullname-mask {
  display: none;
}

#my-name.scrolled #unixname-mask {
  display: inline-block;
}

#my-name.no-animations #fullname-mask,
#my-name.no-animations #unixname-mask {
  color: var(--fg-general);
}

#my-name.no-animations #name-animation {
  color: #fff0;
}

/* header > social */

#social {
  color: var(--fg-general);
  list-style-type: none;
  margin-top: 4rem;
  padding-left: 0;

  font-size: 1.375rem;
  font-weight: 300;
}

#social a {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  color: inherit;
  border: 0.09rem solid var(--fg-secondary);
  transition: .1s linear background;
  background: #fff0;
}

#social a:hover {
  background: var(--bg-button);
}

#social .icon {
  width: 2rem;
  height: 2rem;
  margin-right: .625rem;
  vertical-align: top;
}

/* main */

section {
  padding-bottom: 8rem;
}

h2 {
  font-family: var(--serif-font);
  font-size: max(min(5vw, 2.5rem), 2rem);
}

h3 {
  font-family: var(--mono-font);
  font-size: max(min(4vw, 1.75rem), 1.5rem);
}

/* main > about me */

.subtitle {
  color: var(--fg-secondary);

  font-size: 1.5rem;
  font-weight: 300;
}

#tech-list {
  list-style-type: none;
  padding-left: 0;
  columns: 10rem;

  font-family: var(--mono-font);
}

/* main > about me > icons */

#tech-list .icon24 {
  margin-right: .375rem;
}

.icon24 {
  position: relative;
  top: .25rem;
  width: 1.5rem;
  height: 1.5rem;
}

/* main > showcase */

h3 .icon24 {
  top: .125rem;
}

@media only screen and (max-width: 480px) {
  h3 .icon24 {
    display: none;
  }
}

.links {
  text-align: left;
  font-family: var(--serif-font);
}

h3 {
  margin-top: 3rem;
  margin-bottom: 0.25rem;
}

h3 + .links {
  margin-top: 0.25rem;
}

.links a {
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.screenshot {
  aspect-ratio: 2.56;
  max-width: 48rem;
  width: 100%;
}

/* footer */

footer {
  padding-bottom: 2rem;
}

footer p {
  color: var(--fg-tertiary);
  font-family: var(--serif-font);
  font-size: 0.875rem;
}

footer a {
  color: inherit;
}
